<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  ADD A Book
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-color">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add A Book By Name or Author</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="new-book-form">
          <div class="mb-3">
            <label for="new-book-name" class="form-label book_name">Book Name</label>
            <input type="Name" class="form-control book_name" id="new-book-name" aria-describedby="nameHelp">
          </div>
          <div class="mb-3">
            <label for="new-book-author" class="form-label">Book Author</label>
            <input type="Name" class="form-control author_name" id="new-book-author">
          </div>
          <div class="mb-3">
            <label for="new-book-genre" class="form-label">Book Genre</label>
            <input type="Name" class="form-control genre_name" id="new-book-genre">
          </div>
          <button type="submit" id="add-new-book" class="btn btn-primary submit-btn">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{{#if books.length}}
{{#each (reverse books) as |book|}}
<div class="card">
  <img src="{{imageURL}}" class="card-img-top" alt="Book Image">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text"><strong>Author:</strong> {{author}}</p>
    <p class="card-text"><strong>Genre:</strong> {{genre}}</p>

  </div>
</div>
{{/each}}
{{/if}}
<!-- <div class="card-container">
      <div class="card bg-black">
          <h2>Book Title</h2>
          <img class="cover" src="./public/css/asset/Untitled design (15).png" alt="book page">
          <p>Card content goes here...</p>
      </div>
      <div class="card bg-black">
          <h2>Card 2</h2>
          <img class="cover" src="./public/css/asset/Untitled design (15).png" alt="book page">
          <p>Card content goes here...</p>
      </div>
      <div class="card bg-black">
          <h2>Card 3</h2><img class="cover" src="./public/css/asset/Untitled design (15).png" alt="book page">
          <p>Card content goes here...</p>
      </div>
  </div> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="/js/addingBook.js"></script>
{{!--
<script src="/js/bookImage.js"></script> --}}