    <div><img src="../public/css/asset/pexels-engin-akyurt-2952871.jpg" alt=""></div>

    <div class="row mt-3" >
        <div class="col-sm-6 ">
          <div class="card ">
            <div class="card-body ">
              <h3 class="card-title">Looking for something to read?</h3>
              <p class="card-text text-dark paragraph">It's easy to find books, share books, and meet fellow book lovers. Browse Our Extensive Collection and discover a wide range of books meticulously curated to cater to various tastes and interests. Explore different genres, bestselling titles, and hidden literary gems to find your next captivating read.</p>
              <br>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card ">
            <div class="card-body">
              <h3 class="card-title">Prefer e-books over physical book?</h3>
              <p class="card-text text-dark paragraph">If you are someone who reads e-books, you've come to the right place! Our site is dedicated to providing a seamless digital reading experience that will immerse you in captivating stories at the touch of a button. Explore our vast collection of e-books spanning various genres, from thrilling mysteries to romance and thought-provoking non-fiction. </p>
              <br>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>  
       

    <button class="add-book-btn mt-5">Add Book</button>